p{
    font-size: 40px;
    position: relative;
    left: 120px;
}

h1{
    position: relative;
    left: 200px;
}

h2{
    position: relative;
    left: 200px;
    font-size: 30px;
    font-weight: bolder;
}

img{
    height: 90px;
    position: relative;
    bottom: 100px;
    left: 30px;

}

body{
    background-color: darkgrey;
}